extends ../layout

block content
    h1 #{t('author.label')} #{author.getFullName}

    p #{new Date(author.dateOfBirth).toLocaleDateString()}
    p #[strong Books: ]

    each book in books
        hr
        a(href=`/books/${book.id}`) #{book.title}   
        p #{book.summary}

    hr
    p
        a(href=`${author.getUrl}`+'/delete') #{t('author.delete_button')}
