extends ../layout
block content
    h1 #{title}

    form(method='POST' action='create')
        iv.form-group
            label(for='name') #{t('genres.genre_label')}:
            input#name.form-control(type='text' placeholder='#{t('genres.create_placeholder')}'
                name='name' required value=(undefined===genre ? '' : genre.name))
        button.btn.btn-primary(type='submit') #{t('genres.submit_button')}

    if errors
        ul
            for error in errors
                li!= error.msg
