extends ../layout

block content
    h1 #{t('genre.genre_label')}: #{genre.name}

    p #[strong Books: ]

    each book in books
        hr
        a(href=`/books/${book.id}`) #{book.title}   
        p #{book.summary}

    p
        a(href=`${genre.getUrl}`+'/delete') #{t('genres.delete_button')}
